html
{
	height: 100%;
}

body
{
	height: 90%;

	background: #68b;
	background-image: linear-gradient(left, #57c 15%, #68c 30%, #68b 81%);
	background-image: -o-linear-gradient(left, #57c 15%, #68c 30%, #68b 81%);
	background-image: -moz-linear-gradient(left, #57c 15%, #68c 30%, #68b 81%);
	background-image: -webkit-linear-gradient(left, #57c 15%, #68c 30%, #68b 81%);
	background-image: -ms-linear-gradient(left, #57c 15%, #68c 30%, #68b 81%);
}

#content
{
	font-family: "Times New Roman";
	font-size: 14pt;
	background: white;
	min-height: 100%; /* the height of the webpage is a minimum of 80% the height of the browser window */
	width: 90%;
	min-width: 780px;
	border-radius: 30px;
	padding: 10px 15px 10px;
	margin: 0px auto;
	background-color: #f3ffff;
}

.footer
{
	min-height: 5%;
	max-height: 30px;
}
