
#header
{
	width: 90%;
	font-size: 24px;
	text-align: right;
	margin: 5px 0px;
}


/*	Pane organization */

#leftPane, #centerPane, #rightPane
{
	display: block;
	height: 100%;
	top: 0px;
}

#leftPane, #rightPane
{
	width: 15%;
	text-align: center;
}

#leftPane, #centerPane
{
	border-right: 1px solid gray;
	padding-right: 15px;
}

#leftPane
{
	float: left;
}

#centerPane
{
	margin: 0px auto;
	width: 60%;
}

#rightPane
{
	float: right;
}



/*	Center pane */

#projectNum
{
	display: block;
}

#project-info
{
	display: block;
	max-height: 300px;
	overflow: auto;
}


/*	Center pane's opinion area */

#opinion input
{
	display: block;
}



/*	Center pane's feedback */

.ratings
{
	width: 100%;
}

.ratings td input
{
	width: 50%;
}

.suggestion
{
	margin: 10px 0px;
}

.suggestion .text, .suggestion .comment
{
	padding-left: 15px;
}

.suggestion .text
{
	font-style: italic;
}



/*	Right pane */

#rightPane
{

}

#recentContribs button, #recentActivity button
{
	display: block;
	margin: 0px auto;
}

#lastActivity
{
	/* todo: shove to bottom */
}