
#header
{
	width: 90%;
	font-size: 24px;
	text-align: right;
	margin: 5px 0px;
}


/*	Pane organization */

#leftPane, #centerPane, #rightPane
{
	display: block;
	height: 100%;
	top: 0px;
}

#leftPane, #rightPane
{
	width: 15%;
	text-align: center;
}

#leftPane, #centerPane
{
	border-right: 1px solid gray;
	padding-right: 15px;
}

#leftPane
{
	float: left;
}

#centerPane
{
	margin: 0px auto;
	width: 60%;
}

#rightPane
{
	float: right;
}



/*	Center pane */

#projectNum
{
	display: block;
	text-align: center;
	font-style: italic;
	text-decoration: underline;
	margin-bottom: 10px;
}

#project-info
{
	display: block;
	max-height: 300px;
	overflow: auto;
	font-size: 12pt;
}


/*	Center pane's opinion area */

#opinion input
{
	display: block;
}



/*	Center pane's feedback */

#provideOpinion
{
	background-color: gray;
}

#provideOpinion textarea
{
	display: block;
	width: 90%;
	height: 100px;
	resize: none;
	overflow: auto;
	margin: 0px auto;
	padding: 5px;
}

#provideOpinion #ratings
{
	width: 90%;
	margin-top: 10px;
}

#provideOpinion #ratings .scale
{
	width: 40%;
}

#provideOpinion #ratings .scale input
{
	width: 100%;
}

#provideOpinion #ratings .level
{
	padding-left: 10px;
	font-weight: bold;
}

#provideOpinion .submitButton
{
	display: block;
	width: 80%;
	margin: 0px auto;
}

#provideOpinion .submitButton button
{
	width: 100%;
	font-size: 12pt;
	padding: 10px 0px;
	margin: 10px 0px;
}

#feedback .suggestion
{
	margin: 10px 0px;
	padding-left: 20px;
}

#feedback .suggestion .text, .suggestion .comment
{
	padding-left: inherit;
}

#feedback .suggestion .text
{
	font-style: italic;
}

#feedback .commentComment
{
	margin-left: 20px;
}

#feedback .commentComment td
{
	width: 300px;
	height: 75px;
}

#feedback .commentComment textarea
{
	width: 100%;
	height: 100%;
	padding: 5px;
	resize: none;
}

#feedback .commentComment .submit
{
	padding-left: 20px;
}

#feedback .commentComment button
{
	padding: 10px 15px;
	font-size: 10pt;
	font-weight: bold;
}
/*
#feedback .submitComment textarea
{
	margin-left: 20px;
	
	padding: 5px;
	resize: none;
	width: 40%;
}

#feedback .submitComment button
{
	padding: 10px auto;
}*/



/*	Right pane */

#rightPane
{

}

#recentContribs button, #recentActivity button
{
	display: block;
	margin: 0px auto;
}

#lastActivity
{
	position: absolute;
	bottom: 30px;
}